<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">redhat</property>
		<property name="hibernate.connection.url">jdbc:postgresql://10.131.137.206:5432/postgres</property>
		<property name="hibernate.connection.username">jnarino</property>
		<property name="hibernate.default_schema">telematica</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<mapping class="co.com.telematica.register.matriz.dominio.Register" />
		<mapping class="co.com.telematica.register.session.dominio.Usuarios" />

	</session-factory>
</hibernate-configuration>
